@model Product
@{
    ViewData["Title"] = "DeleteProduct";
}

@*  @if (TempData["success"] != null)
 {
     <h4 class="text-bg-success">@TempData["success"]</h4>
 }
 *@

@* Using *@
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.success('@TempData["success"]');
    </script>

}

<h1>DeleteProduct</h1>
<form method="post" asp-action="DeleteProduct" class="col-form-label">
    <div class="border p-3 mb-4 shadow">
        <div action="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" disabled  />
        </div>
        <div class="mb-3">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" class="form-control" disabled  />
        </div>

        <div class="mb-3">
            <button class="btn btn-danger" type="submit"><span class="fa fa-solid fa-trash"></span> Delete</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-warning"><span class="fa fa-solid fa-ban"></span> Cancel</a>
        </div>
    </div>

</form>


