@model Product
@{
    ViewData["Title"] = "EditProduct";
}

<h1>EditProduct</h1>
<form method="post" asp-action="EditProduct" class="col-form-label">
    <div class="border p-3 mb-4 shadow">
        <div action="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit"><span class="fa fa-solid fa-refresh"></span> Update</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-warning"><span class="fa fa-solid fa-ban"></span> Cancel</a>
        </div>
    </div>

</form>

@* Client Side Validation *@
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
