@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a demo of <ins>Project Management System</ins> Using ASP.NET Core.</h3>
    <form action="/">
        <input class="btn btn-primary mt-3" type="submit" value="Project Management System Using ASP.NET Core" />
    </form>
</div>
