
@{
    ViewData["Title"] = "About";
    // Layout = "~/Views/Shared/_Layout.cshtml"; // Layout is defined in _ViewStart.cshtml
    ViewBag.CustomMessage = "ABOUT US 👪 | 🍕 Pizza & Pies! 🥧";
}

@section AboutSideBarOptions
{
    <a href="#" class="list-group-item text-dark" style="background-color:#d6d6c2;">🤩 About Kompany</a>
    <a href="#" class="list-group-item text-dark" style="background-color:#d6d6c2;">🤑 Investors</a>
    <a href="#" class="list-group-item text-dark" style="background-color:#d6d6c2;">😎 Message from CEO</a>
    <a href="#" class="list-group-item text-dark" style="background-color:#d6d6c2;">👨‍👨‍👦‍👦 Our Team </a>
}

 
<h1>About Us</h1>
<p>
    We're more than just a pizzeria, we're a pie-oneer 
    in the pizza game ! Our crusts are legendary , our 
    toppings are touchtastic ✨, and every bite is a 
    flavor fiesta . We've got pies for every pizzazz-loving 
    person, from the classic pepperoni purist ❤️ to the 
    adventurous pineapple-loving rebel  (hey, no judgment here! ). 
    So come on in, grab a slice, and let's get this pizza party started !
    <img src="https://images.squarespace-cdn.com/content/v1/594974c0e58c62484cbd42f9/1601915842268-1HCL7HXWLQJ2M6PFZHPR/ke17ZwdGBToddI8pDm48kMQyfPsTd4NgTAxlGEvjjmhZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI_5bjKs0udLWgleNzaLDHWvXEJQtcU5fjR8f5ylkblZcKMshLAGzx4R3EDFOm1kBS/09ce8c80a400f3b798032b13fb19f684.jpg" class="mx-auto d-block img-fluid m-5" width="200px" />
</p>