@* Front Matter *@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*The custome message and other things*@
@{
    ViewBag.CustomMessage = "Welkome to 🍕 Pizza & Pies! 🥧";
}

<div class="container-fluid">
    <div class="text-center">
        <h1>🍕 <b>Pizza & Pies</b> 🥧</h1>
        <h3>🔥 Pie-nally! A Pizza joint that's all about the Pie! 🔥</h3>
        <h2>😍😍😍</h2>
        <p>pss..Our pies are as hot as our servers</p>
        <button class="btn btn-warning">Order Now</button>
        <button class="btn btn-warning">Track Order</button>
        <br>
        <img src="https://freepngimg.com/thumb/pizza/7-2-pizza-free-png-image.png" alt="🍕🍕🍕🍕🍕🍕" class="img-fluid mt-4" width="40%" />
    </div>
</div>
