
@{
    ViewData["Title"] = "Profile";
    // Layout = "~/Views/Shared/_Layout.cshtml";    // Layout is defined in _ViewStart.cshtml
    ViewBag.CustomMessage = "PROFILE 👧 | 🍕 Pizza & Pies! 🥧";
}

<h1>Profile</h1>
<div class="p-1 mb-4 bg-warning rounded">
    <h3>Welcome Mr.Customer (or Mrs. (or Ms (or Wahtever You are 🤷‍♀️))) </h3>
    <p>
        You have a one-track mind – pizza and pies. You know 
        exactly what you want and order it every single time. 
        It might be a classic cheese pizza and a slice of blueberry 
        pie, or maybe a veggie pizza with a slice of pecan pie. 
        You're predictable, but your unwavering dedication to the pizza-pie 
        combo is strangely endearing.  ❤️
    </p>
</div>

@{
    ViewBag.OrderList = "Your Order Details:";
    ViewBag.Items = new List<string>
        {
            "Cheesy Chuckle Supreme 🧀🍕",
            "Slice to Meet You 🍰",
            "Pies the Limit 🥧",
            "Holy Shiitake 🥛🍼",
            "Dough-licious Delight 🥞"
        };
    Html.RenderPartial("_PartialViewOrder");    // This is just telling which View to use to show this content
}