body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

h3, h4 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
